<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ava</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <style>
      @keyframes slide-in {
          0% {
              transform: translateX(100%);
              opacity: 0;
          }
          100% {
              transform: translateX(0);
              opacity: 1;
          }
      }

      .animate-slide-in {
          animation: slide-in 0.5s ease-out;
      }
  </style>

</head>
<body data-turbo="true" class="bg-gradient-to-br from-gray-50 to-gray-200 min-h-screen">
<%= render 'partials/navbar' %>
<main class="container mx-auto max-w-7xl mt-4 md:px-6 py-8">

  <div id="toast-container" class="fixed top-5 right-5 z-50 space-y-4"></div>

  <%= yield %>

</main>
</body>
</html>